 <div class="top">

    <h1>Welcome to my Portfolio</h1>

    <p>Here are my projects. I worked very hard on them...</p>

</div>

<div class="projects_welcome">
     
{{>projList welcomePage=true}}
</div>