* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    background-color: pink;
    grid-template-rows: 70px 1fr 30px;
}
header {
    background-color: orange;
}

main {
}

footer {
    background-color: grey;
}
